# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.eggs
*.env
.env*
.venv/
venv/
ENV/
env/

# Flask
instance/
*.db
*.sqlite3

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter
.ipynb_checkpoints/
